/bin/
/build*/
/CMakeUserPresets.json
/install*/
/obj/
/prototype_generation/Main
/test/**/*.root
/.cproject
/.externalToolBuilders
/.idea
/.project
/.vscode

.DS_Store
Testing/

\#*\#
*.eps
*~
*.bak
*.kdev4
*.[oa]
*.pdf
*.png
*.pyc
